  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    padding: 0.2% 1%;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #F0ffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    
}
.breadcrumbs-item{
  display: inline-block;
}
.breadcrumbs-item:not(:last-of-type)::after{
  content: '\232A';
  margin: 0 10px;
  color: #cccccc;
}
.breadcrumbs > .active{
  color: #ff0000;
}

  
