@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
body{
	margin: 0%;
	padding: 0%;
	font-family: 'Roboto', sans-serif;
	font-size: small;
	background-color: rgb(243, 247, 233);
}
hr { 
	border-color: blue;
}
.table-responsive{
	width: 100% !important;
  }
  
  .table {
	  width: 80% !important; /*Importante manter o !important rs */
	  margin: auto;
  }
  
  .table-status {
	  margin-top: 20px;
	  margin-bottom: 20px !important;
  }
  .botaoAtualizar{
	  text-align: right;
  }