@charset "UTF-8";

body{
	font:14px Roboto, arial;
	/*background: url('img/fundo_escuro.jpg') no-repeat top center fixed;*/


}

a {
	text-decoration: none;
}

ul{
	list-style: none;
}

.alignleft{
	float: left;
}

.alignright{
	float: right;
}

.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

#page{
	width: 960px;
	margin: 0 auto;

}

#header{
	margin-bottom: 5px;
}



#modal-solicitar{
	width: 350px;
	height: 500px;
	padding: 5px;
	background-color: #fff;
	box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.7);
	border-radius: 3px;

	position: fixed;
	top: 100px; left: 50%;
	margin-left: -165px;
	z-index: 101;
	
}
#modal-solicitar fieldset{
	border: 0;
	padding: 30px;

}
 #modal-solicitar legend{
 	font-size: 26px;
 	margin-bottom: 15px;
 }

 #modal-solicitar label{
 	display: block;
 	margin-bottom: 5px;
 }

#modal-solicitar input.txt{
	width: 100%;
	font: 16px Oswald;
	margin-bottom: 25px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #ccc;
	outline: none;
	box-shadow: none;
}

#modal-solicitar input.txt:valid{
	border-bottom-color:#26A65B; 
}

#modal-solicitar input.txt:focus{
	border-bottom-color: #F89406;
}

#modal-solicitar hr{
	margin: 20px 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 4px dotted #CCC;
}

#modal-solicitar h2{
	font-size: 22px;
	margin-bottom: 20px;


}

#modal-solicitar .fechar-modal{
	width: 32px;
	height: 32px;
	line-height: 32px;
	color:#FFF;
	text-align: center;
	background-color: #000;
	border: 2px  solid #FFF;
	border-radius: 100%;
	position: absolute;
	top: -15px; right: -15px;
	cursor: pointer;
}

#modal-solicitar .btn{
	position: absolute;
	font: 14px Oswald;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 3px;
	color: #333;
	border: 1px solid #333;
	background: transparent;
}
#modal-solicitar .row-1{
	margin-bottom: 5px;
	position: absolute;

}

#modal-solicitar .row-2{
	position: absolute;
	width: 200px;
	margin-left: 165px;

}

#modal-solicitar .btn:hover{
	color: #FFF;
	background-color: #333;
}

#modal-solicitar .social-buttons h2{
	color: #666;

}

#modal-solicitar .social-buttons{
	text-align: center;

}

#modal-solicitar .social-buttons .btn{
	width: auto;
}

#modal-solicitar .social-buttons .fb{
	color: #3A539B;
	border-color: #3A539B;

}

#modal-solicitar .social-buttons .fb:hover{
	color: #FFF;
	background-color: #3A539B;

}

#modal-solicitar .social-buttons .steam{
	color: #333;
	border-color: #333;

}

#modal-solicitar .social-buttons .steam:hover{
	color: #FFF;
	background-color: #333;

}
#permissao{
	width: 600px;
	margin:auto;
}

#permissao .for{
	width: 600px;
}
#permissao fieldset{
	height: 85px;
	font:14px Oswald;
	padding: 5px;
	text-align: left;
	margin-top: 5px;
}
#permissao .nomecompleto{
	margin-top: 25px;
	font:14px Oswald;
}
.ml-3{
	padding: 10px;
}
.mt-3{
	align-items: center;
}